/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: rgb(235, 226, 214);
    height: 100vh;
    background-image: linear-gradient(to right bottom,rgba(255, 255, 255, 0.8), rgba(2, 18, 30, 0.8) ), url('12.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0% 0% , 100% 0%, 100% 85vh ,0% 100%);
}




.f{
    font-family: 'Martian Mono', monospace;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.contact-form {
    margin-bottom: 40px;
    margin-top: 100px;
}

.contact-form h2,
.contact-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }
}
